.DS_Store
*.swp
*~.nib
*~.xib

/build/

/*.xcodeproj/*
!/*.xcodeproj/project.pbxproj
!/*.xcodeproj/xcshareddata/

xcuserdata/

/Resources/debug-cred/debug-credential.txt

/BundlePrivate/*
!/BundlePrivate/README.txt

